*{
  font-size:14px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
  content: '';
  display: table;
}
#header-wrapped .logo-wrapped img{
  display:block;
  height:120px;
  margin-top:-10px;
}
#header-wrapped .btn-signUp button{
  font-size:18px;
  font-weight: 500;
  text-transform: capitalize;
  color:white;
  background: #1c9941;
  padding:10px 20px;
  float:right;
  margin-top:25px;
  border:none;
  border-radius: 20px;
}
#header-wrapped .btn-forTeacher button{
  font-size:18px;
  text-transform: capitalize;
  columns: #333333;
  background: white;
  padding:10px 20px;
  float:right;
  margin-top:25px;
  border:none;
  border-radius: 20px;
  font-weight: 500;
}
#header-wrapped .btn-forTeacher button:hover{
  color:white;
  background:#1c9941;
}
#header-wrapped .btn-forStudent button{
  font-size:18px;
  text-transform: capitalize;
  columns: #333333;
  background: white;
  padding:10px 20px;
  float:right;
  margin-top:25px;
  border:none;
  border-radius: 20px;
  outline:0;
  font-weight: 500;
}
#header-wrapped .btn-forStudent button:hover{
  color:white;
  background:#1c9941;
}
#header-wrapped {
  border-bottom:1px solid #f5f5f0;
}
#home-page-wrapped #banner {
  position:relative;
  overflow-y: hidden;
}
#home-page-wrapped #banner .banner-layer{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
#home-page-wrapped #banner .bottom-ribbon{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 240px;
  transform: skewY(-3deg) translateY(56px);
  background-color: rgba(255,164,2,0.2);
  opacity: 0.5;
}