<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="my first web">
	<meta name="author" content="AnhTuDev">
	<title>WoodWorkBench</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<!--https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css-->
	<link href="../css/owl.theme.default.min.css" rel="stylesheet">
	<link href="../css/owl.carousel.min.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
		integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
		crossorigin="anonymous">

</head>

<body>
	<!--Main code-->
	<section id="header-wrapped">
		<div class="container">
			<div class="header-inner-desktop hidden-sm hidden-xs">
				<div class="col-lg-4 col-md-4">
					<div class="logo-wrapped">
						<a href="index.html"><img src="../images/logo.png" alt="logo"></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="btn-forTeacher"><button>for teacher</button></div>
					<div class="btn-forStudent"><button>for student</button></div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="btn-signUp">
						<button>Sign up</button>
					</div>
				</div>
			</div>
			<div class="header-inner-mobile hidden-lg hidden-md">
				
			</div>
		</div>
	</section>
	<!--End main code-->
	<!--Script-->
	<script src="../javascript/script.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<!--end script-->
</body>

</html>