*{
    font-size:14px;
  }
  :root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
  }
  .clearfix {
    *zoom: 1;
  }
  .clearfix:after {
    clear: both;
    content: '';
    display: table;
  }
  #header-wrapped .logo-wrapped img{
    display:block;
    height:120px;
    margin-top:-10px;
  }
  #header-wrapped .btn-signUp button{
    background:  #56baec;
    padding:10px 20px;
    float:right;
    margin-top:25px;
    border:none;
    border-radius: 20px;
  }
  #header-wrapped .btn-signUp button a{
    text-decoration: none;
    font-size:18px;
    font-weight: 500;
    text-transform: capitalize;
    color:white;
  }
  #header-wrapped .btn-forTeacher button{
    background: white;
    padding:10px 20px;
    float:right;
    margin-top:25px;
    border:none;
    border-radius: 20px;
    font-weight: 500;
  }
  #header-wrapped .btn-forTeacher button a{
    text-decoration: none;
    font-size:18px;
    text-transform: capitalize;
    color: #333333;
  }
  #header-wrapped .btn-forTeacher button:hover{
    background: #56baec;
  }
  #header-wrapped .btn-forTeacher button:hover a{
    color:#fff !important;
  }
  #header-wrapped .btn-forStudent button{
    background: white;
    padding:10px 20px;
    float:right;
    margin-top:25px;
    border:none;
    border-radius: 20px;
    outline:0;
    font-weight: 500;
  }
  #header-wrapped .btn-forStudent button a{
    font-size:18px;
    text-transform: capitalize;
    color: #333333;
    text-decoration:none;
  }
  #header-wrapped .btn-forStudent button:hover{
    background: #56baec;
  }
  #header-wrapped .btn-forStudent button:hover a{
    color:#fff;
  }
  #header-wrapped {
    border-bottom:1px solid #f5f5f0;
  }
#form-wrapped{
  background-color: #56baec;
}
#register-wrapped {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    padding:10px 30px;
    margin-top:80px;
}
  
  #register-wrapped h2 {
    text-align: center;
    margin: 0 0 20px;
  }
  
  #register-wrapped .form {
    padding: 30px 40px;
  }
  
  .form-Control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border: none;
  }
  
  .form-Control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-Control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;

  }
  
  .form-Control input:focus {
    outline: 0;
    border-color: #777;
  }
  
  .form-Control.success input {
    border-color: var(--success-color);
  }
  
  .form-Control.error input {
    border-color: var(--error-color);
  }
  
  .form-Control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-Control.error small {
    visibility: visible;
  }
  
  #register-wrapped form button {
    cursor: pointer;
    background-color:  #56baec;
    border: 2px solid  #56baec;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }