*{
    font-size:14px;
    margin:0px;
    padding:0px;
}
header {
    background:#461A42;
    height:90px;
}
.dropbtn {
  background-color: #461A42;
  color: white;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
}
.dropbtn span{
    font-size:16px !important;
    margin-top:-5px;
    display:inline-block;
}
.dropdown {
  position: relative;
  display: inline-block;
  float:right;
  margin-top:25px;
  text-decoration:none;
  color:white;
}
.dropbtn img{
    display:inline-block;
}
a{text-decoration:none;color:white;}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #461A42;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:white;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:16px !important;
}

.dropdown-content a:hover {color:lightblue}

.dropdown:hover .dropdown-content a{   
  color:white;
}
.dropdown:hover .dropdown-content {
    display:block;
}
.dropdown:hover .dropbtn {
  background-color: #461A42;
}
#room-wrapped{
    margin-top:50px;
}
.room-component-wrapped {
    display:block;
    border:none;
    border-radius:20px;
    background: #461A42;
}
.room-component-wrapped  .room-title{
    padding:30px 50px;
    display:block;
	width:100%;
    color:#f0f0f0;
}
.room-component-wrapped  .room-title .room-classname{
    font-size:30px;
}
.room-component-wrapped  .room-title .room-subject{
    font-size:24px;
    margin-top:15px;
}
.room-component-wrapped  .room-title .room-teachername{
    font-size:16px;
    margin-top:15px;
}
.room-component-wrapped  .room-content{
     display:block;
    width:100%;
    background:#fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding:20px 0px;
	color:#461A42;
    padding:20px 50px;
}
#room-wrapped .room-content{
    text-align:center;
}
#room-wrapped .create-room{
    margin-top:30px;
}
#room-wrapped .create-room a{
    background:#461A42;
    color:#fff;
    padding:10px 25px;
    border:none;
    outline:none;
    border-radius:10px;
}
.room-code{
    margin-top:15px;
}
#room-wrapped .room-content .form-Control {
    margin-top:20px;
    font-size:16px;
}
#room-wrapped .room-content .form-Control input#answer{
    width:80%;
    display:inline-block;
    height:30px;
    font-size:16px;
}
#room-wrapped .room-content button{
  margin-top:20px;
  padding:10px 25px;
  background:#461A42;
  color:#fff;
  border:none;
  outline:none;
  border-radius:10px;
}
#formAnswerQuestion button{
  margin-top:20px;
  padding:10px 25px;
  background:#461A42;
  color:#fff;
  border:none;
  outline:none;
  border-radius:10px;
}
#key{
    margin-left:10px;
}
#formExam .form-Control {
    margin-top:20px;
    font-size:16px;
    width:100%;
}
#formExam .form-Control label{
    display:inline-block;
    width:20%;
}
#formExam .form-Control input{
    width:79%;
    display:inline-block;
    height:30px;
    font-size:16px;
}