*{
  font-size:14px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
  content: '';
  display: table;
}
#header-wrapped .logo-wrapped img{
  display:block;
  height:120px;
  margin-top:-10px;
}
#header-wrapped .btn-signUp button{
  background: #461A42;
  padding:10px 20px;
  float:right;
  margin-top:25px;
  border:none;
  border-radius: 20px;
}
#header-wrapped .btn-signUp button a{
  text-decoration: none;
  font-size:18px;
  font-weight: 500;
  text-transform: capitalize;
  color:white;
}
#header-wrapped .btn-forTeacher button{
  background: white;
  padding:10px 20px;
  float:right;
  margin-top:25px;
  border:none;
  border-radius: 20px;
  font-weight: 500;
}
#header-wrapped .btn-forTeacher button a{
  text-decoration: none;
  font-size:18px;
  text-transform: capitalize;
  color: #333333;
}
#header-wrapped .btn-forTeacher button:hover{
  background: #461A42;
}
#header-wrapped .btn-forTeacher button:hover a{
  color:#fff !important;
}
#header-wrapped .btn-forStudent button{
  background: white;
  padding:10px 20px;
  float:right;
  margin-top:25px;
  border:none;
  border-radius: 20px;
  outline:0;
  font-weight: 500;
}
#header-wrapped .btn-forStudent button a{
  font-size:18px;
  text-transform: capitalize;
  color: #333333;
  text-decoration:none;
}
#header-wrapped .btn-forStudent button:hover{
  background: #461A42;
}
#header-wrapped .btn-forStudent button:hover a{
  color:#fff;
}
#header-wrapped {
  border-bottom:1px solid #f5f5f0;
}
#home-page-wrapped #banner {
  position:relative;
  overflow-y: hidden;
  margin-top:30px;
}
#home-page-wrapped #banner .banner-layer{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
#home-page-wrapped #banner .bottom-ribbon{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 240px;
  transform: skewY(-3deg) translateY(56px);
  background-color: rgba(255,164,2,0.2);
  opacity: 0.5;
}
#home-page-wrapped #banner .banner-content{
  position: relative;
  max-width:100%;
  margin:0px auto;
  box-sizing: border-box;
  padding:0px 110px;
  padding-bottom: 120px;
}
#home-page-wrapped #banner .banner-content .banner-title {
  max-width:45%;
  font-weight: bold;
  margin-bottom:20px;
  font-size:64px;
  line-height:100%;
  color: #461A42;
}
#home-page-wrapped #banner .banner-content .banner-description {
  max-width:35%;
  font-weight: bold;
  margin-bottom:20px;
  font-size:18px;
  line-height:100%;
  color:#73747E;
}
#home-page-wrapped #banner .banner-content .banner-btn .btn-getstart{
  padding:10px 20px;
  background:  #461A42;
  color:white;
  margin:0px 15px;
  border:2px solid  #461A42;
  outline:none;
  line-height:100%;
  border-radius: 20px;
}
#home-page-wrapped #banner .banner-content .banner-btn .btn-getstart a{
  font-size:18px;
  text-transform: capitalize;
  text-decoration: none;
  color:#fff;
}
#home-page-wrapped #banner .banner-content .banner-btn .btn-getstart:hover{
  background:white;
  border:2px solid  #461A42;
}
#home-page-wrapped #banner .banner-content .banner-btn .btn-getstart:hover a{  color: #461A42;}
#home-page-wrapped #banner .banner-content .banner-btn .btn-login {
  padding:10px 20px;
  background: white;
  color: #461A42;
  margin:0px 15px;
  border:2px solid  #461A42;
  outline:none;
  line-height:100%;
  border-radius: 20px;
}
#home-page-wrapped #banner .banner-content .banner-btn .btn-login a{
  text-decoration: none;
  font-size:18px;
  text-transform: capitalize;
  color: #461A42;
}
#home-page-wrapped #banner .banner-content .banner-btn .btn-login:hover{
  background: #461A42;
  border:2px solid  #461A42;
}
#home-page-wrapped #banner .banner-content .banner-btn .btn-login:hover a{  color:white;}
#home-page-wrapped #banner .banner-image{
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 802px;
  height:500px;
}
#home-page-wrapped #banner .banner-image>img{
  display:block;
  width:100%;
  height:100%;
}
#home-page-wrapped #banner .banner-bottom-content{
  position: absolute;
  left: 104px;
  bottom: 12px;
  display: flex;
  width: 344px;
  height: 88px;
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  align-items: center;
}
#home-page-wrapped #banner .banner-bottom-content .banner-bottom-text {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #5D2057;
}
#carousel-bannner .item{
  position:relative;
  display:block;
  padding:10px 0px 100px 0px;
}
#carousel-bannner .item #border-comment {
  border:solid 0px ;
  border-radius:10%;
  background-color:#F2F2F2;
  width:260px;
  height:120px;
  margin:5px 125px 0px 125px;
  padding:20px;
}
#carousel-bannner .item #border-comment p{
  color:grey;
  font-family:'Roboto';
  text-align: center;
  font-size:16px;
  display:block;
}
#carousel-bannner .item h4{
  margin: 5px 0px 5px 230px;
  color:#43546e;
  font-size:16px;
  display:block;
}
#carousel-bannner .item #extend-p{
  margin: 0px 0px 5px 260px;
  font-size:14px;
  color:grey;
  display: block;
}
#carousel-bannner .item img{
  position: absolute;
  top:120px;
  left:40px;
  z-index:1;
}
#testimonial{
  margin-top:70px;
}
#testimonial .testimonial-title {
  font-size:32px;
  font-weight:500;
  max-width:808px;
  text-align:center;
  margin:0px auto;
}
#testimonial .testimonial-content, #testimonial .testimonial-company-title  {
  font-size:14px;
  font-weight:500;
  max-width:808px;
  text-align:center;
  margin:30px auto;
}
#testimonial .testimonial-company-img img{
  display:inline-block;
  width:24%;
  margin:0px auto;
}
#product-wrapped {
  max-width:100%;
  text-align:center;
  background-color:#FFFAF2;
  padding:80px 90px 48px;
}
#product-wrapped .product-content{
  font-size:18px;
  margin:10px 0px;
  display:block;
  text-align:center;
  color:#333;
}
#product-wrapped .btn-try {
  padding:10px 20px;
  background:  #461A42;
  color:white;
  margin:10px 15px;
  border:2px solid  #461A42;
  outline:none;
  line-height:100%;
  border-radius: 18px;
  font-size:20px;
}
#product-wrapped .product-demo-video>video {
  width:100%;
  margin:0px auto;
}
#tab-wrapped{
  padding:90px;
}
.tablink {
  background-color: #fff;
  color: #333;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  width: 33.33%;
}

.tablink:hover {
  font-weight:700;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #333;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
#tab-wrapped .active,.tablink:hover{
  border-bottom:2px solid  #461A42;
}
#tab-wrapped .tabcontent img{
  max-width:100%;
  display:block;
}
#tab-wrapped .tabcontent ol{
  margin-top:20px;
}
#tab-wrapped .tabcontent ol li{
  font-size:18px;
  line-height:25px;
  color: #461A42;
}
#learn-more-wrapped {
  background-color: #461A42;
  max-width:100%;
  padding:80px 0px;
}
#learn-more-wrapped img{
  max-width:100%;
  display:block;
}
#learn-more-wrapped .learn-more-boxLeft {
  background-color: #FFFAF2;
  box-shadow: 0px 4px 0px #FFA402, 0px 8px 16px rgba(0,0,0,0.25);
  border-radius:20px;
  text-align:center;
  padding:10px 50px;
}
#learn-more-wrapped h2,#learn-more-wrapped p{
  margin:10px 0px;
}
#learn-more-wrapped .learn-more-boxLeft  button{
  padding:10px 20px;
  background:  #FFA402;
  margin:10px 15px;
  border:2px solid #FFA402;
  outline:none;
  border-radius: 18px;
}
#learn-more-wrapped .learn-more-boxLeft  button a{
  text-decoration: none;
  color:white;
  font-size:20px;
  line-height:100%;
}
#learn-more-wrapped .learn-more-boxRight{
  background-color: #EDE6F6;
  box-shadow: 0px 4px 0px #8854C0, 0px 8px 16px rgba(0,0,0,0.25);
  border-radius:20px;
  padding:10px 50px;
  text-align:center;
}
#learn-more-wrapped .learn-more-boxRight  button{
  padding:10px 20px;
  background:   #8854C0;
  margin:10px 15px;
  border:2px solid  #8854C0;
  outline:none;
  border-radius: 18px;
}
#learn-more-wrapped .learn-more-boxRight  button a{
  text-decoration: none;
  color:white;
  font-size:20px;
  line-height:100%;
}
#footer-wrapped {
  background-color: #461A42;
  padding:20px 0px;
}
#footer-wrapped ul li a{
  font-size:14px;
  text-decoration: none;
  display:block;
  color:#fff;
  margin:10px 0px;
}
#get-started-footer{
  background-color: #FFFAF2;
  padding:10px 0px;
}
#get-started-footer img{
  max-width:100%;
  height:320px;
}
.get-started-title {
  margin:50px 0px; 
  text-align:center;
  font-size:36px;
  color:#333;
}