<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>document.getElementsByTagName("html")[0].className += " js";</script>
	<link rel="stylesheet" href="../static/css/grid.css">
	<link rel="stylesheet" href="../static/css/room.css">
	<link rel="stylesheet" href="../static/css/popup.css">
	<title>Classrooms</title>
	<style>
		.form-Control{
			margin-top:10px;
		}
		.form-Control p, .form-Control label, .form-Control p em{
			font-size:18px;
		}
		#formAnswerQuestion{
			margin-top:30px;
			text-align:left;
		}
	</style>
</head>

<body>
	<header>
		<div class="container">
			<div class="header-desktop hidden-xs hidden-sm">
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<div class="logo-wrapper">
							<a href="index.html" class="cd-logo"><img src="../static/images/logo1.png"
									style="height:100px; width:120px;display:block;" alt="Logo"></a>
						</div>
					</div>
					<div class="col-lg-9 col-md-9">
						<div class="dropdown">
							<button class="dropbtn">
								<a href="#0">
									<img src="../static/images/cd-avatar.svg" alt="avatar"
										style="height:24px;width:24px;border-radius:50%;">
									<span>Tài khoản</span>
								</a>
							</button>
							<div class="dropdown-content">
								<a href="#0">Tài khoản của tôi</a>
								<a href="#0">Thay đổi thông tin</a>
								<a href="/logout">Đăng xuất</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-mobile hidden-lg hidden-md">
				<div class="row"></div>
			</div>
		</div>
	</header>
	<section id="room-wrapped">
		<div class="container">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="room-component-wrapped">
						<div class="room-title">
							<div class="room-classname">classname</div>
							<div class="room-subject">subject</div>
							<div class="room-teachername">teacher</div>
						</div>
						<div class="room-content" style="padding-bottom:90px;">
							<div>Time left: <span id="timer" style="font-size:18px;color:red;">10:00</span> minutes!</div>
							<form id="formAnswerQuestion" class="form-answer-question" action="/exam" method="POST">
								{% for exam in exams | shuffle %}
								<div class="form-Control">
									<p>Question: <em style="color: red; border: 1px bold;">{{exam.question}}</em></p>
								</div>
								{% for answer in exam.answer | shuffle %}
								<div class="form-Control">
									<input type="radio" id="{{answer.value}}" name="{{exam.Id}}" value={{answer.id}}>
									<label for="{{answer.value}}">{{answer.value}}</label><br>
								</div>
								{% endfor %}
								{% endfor %}
								<button type="submit" style="float:right;font-size18px;padding:15px 30px;cursor: pointer;">Done</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>			
			</div>
	</section>
</body>
	<script src='../static/javascript/countdown.js'></script>
</html>