<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="my first web">
	<meta name="author" content="AnhTuDev">
	<title>BeSmart</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<!--https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css-->
	<link href="../static/css/owl.theme.default.min.css" rel="stylesheet">
	<link href="../static/css/owl.carousel.min.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
		integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
		crossorigin="anonymous">

</head>

<body>
	<!--Main code-->
	<section id="header-wrapped">
		<div class="container">
			<div class="header-inner-desktop hidden-sm hidden-xs">
				<div class="col-lg-4 col-md-4">
					<div class="logo-wrapped">
						<a href="/"><img src="../static/images/logo.png" alt="logo"></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="btn-forTeacher"><button><a href="#">Giảng viên</a></button></div>
					<div class="btn-forStudent"><button><a href="#">Học sinh</a></button></div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="btn-signUp">
						<button><a href="/register">đăng ký</a></button>
					</div>
				</div>
			</div>
			<div class="header-inner-mobile hidden-lg hidden-md">
				
			</div>
		</div>
	</section>
	<div id="home-page-wrapped">
		<section id="banner">
			<div class="banner-layer">
				<div class="bottom-ribbon"></div>
			</div>
			<div class="banner-content hidden-sm hidden-xs">
				<h1 class="banner-title">Nền tảng miễn phí 100%</h1>
				<h3 class="banner-description">Tìm và tạo bài giảng cũng như đăng các bài test cho học sinh nhanh chóng, hiệu quả.</h3>
				<div class="banner-btn">
					<button class="btn-getstart"><a href="#">Bắt đầu</a></button>
					<button class="btn-login"><a href="/login">Đăng nhập</a></button>
				</div>
				<div class="banner-image">
					<img src="../static/images/banner.png" alt="banner-image">
				</div>
				<div class="space" style="margin-top:90px;"></div>
				<div class="banner-bottom-content">
					<div class="global-art">
						<img src="../static/images/global-art.svg" alt="global-art" style="height:64px;width:64px">
					</div>
					<div class="banner-bottom-text">Được tin dùng bởi hơn 50 triệu người trên thế giới.</div>
				</div>
			</div>
		</section>
		<section id="testimonial">
			<div class="testimonial-title">
				Được tin dùng bởi hơn 50% các giáo viên tại Việt Nam và 150 quốc gia trên thế giới.
			</div>
			<div class="testimonial-content">
				Đây là lời khảo sát của những người dùng.
			</div>
			<div id="carousel-bannner" class="owl-threes owl-carousel owl-theme">
				<div class="item">
					<div id="border-comment">
						<p>"Dịch vụ làm bài thi trắc nghiệm giúp đỡ rất nhiều với những người giáo viên như chúng tôi."</p>
					</div>
					<h4>Chị Nguyễn Thị Thanh</h4>
					<p id="extend-p">Ý Yên, Nam Định</p>
					<img src="../static/images/girl1.jpg" style="width:165px; height:165px;">
				</div>
				<div class="item">
					<div id="border-comment">
						<p>Tôi đã từng sử dụng dịch vụ của BeSmart và thấy rằng khả năng chuyên môn cao của họ</p>
					</div>
					<h4>Chị Hoàng Thu Phương</h4>
					<p id="extend-p">Đông Hưng, Thái Bình</p>
					<img src="../static/images/girl2.jpg" style="width:165px; height:165px;">
				</div>
				<div class="item">
					<div id="border-comment">
						<p>BeSmart ngày càng trở nên gần gũi và giúp ích lớn với tôi.</p>
					</div>
					<h4>Chị Hoàng Thanh Loan</h4>
					<p id="extend-p">Quảng Châu,Trung Quốc</p>
					<img src="../static/images/girl3.jpg" style="width:165px; height:165px;">
				</div>
				<div class="item">
					<div id="border-comment">
						<p>Các thiết bị của Suplo cũng như nhân viên đều hoạt bát, nhanh nhạy.Vô cùng hài lòng với dịch vụ.</p>
					</div>
					<h4>Anh Đinh Mạnh Ninh</h4>
					<p id="extend-p">Cao Bằng, Bắc Giang</p>
					<img src="../static/images/girl4.jpg" style="width:165px; height:165px;">
				</div>
			</div>
			<div class="testimonial-company">
				<div class="testimonial-company-title">BeSmart cũng được tín nhiệm trong công việc và các kinh doanh phi lợi nhuận chủ yếu ở các start-up.</div>
				<div class="testimonial-company-img" style="width:100%;">
					<img src="../static/images/company1.png" alt="brand">
					<img src="../static/images/company2.png" alt="brand">
					<img src="../static/images/company3.png" alt="brand">
					<img src="../static/images/company4.png" alt="brand">
				</div>
			</div>
		</section>
		<section id="product-wrapped">
			<div class="product-title"><h2>Phù hợp với mọi thiết bị</h2></div>
			<div class="product-content">Người sử dụng được quyền thấy các câu hỏi và điểm xếp hạng.</div>
			<button class="btn-try">Thử ngay</button>
			<div class="product-demo-video">
				<video autoplay="autoplay" muted="muted" playsinline="playsinline" loop="loop" src="https://cf.quizizz.com/img/mkt/3-PRODUCT_IN_ACTION.mp4" poster="https://cf.quizizz.com/img/mkt/3-PRODUCT_IN_ACTION-First_Frame.png"></video>
			</div>
		</section>
		<section id="tab-wrapped">
			<div class="myTabs">
				<button class="tablink" onclick="openPage('liveEngagement', this, 'white')">Live Engagement</button>
				<button class="tablink" onclick="openPage('asynchronousLearning', this, 'white')" id="defaultOpen">Asynchronous Learning</button>
				<button class="tablink" onclick="openPage('insightsAndReporting', this, 'white')">Insight And Reporting</button>
			</div>
			

			<div class="tabcontent" id="liveEngagement">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<h2>Gamified quizzes, polls, and lessons</h2>
								<ol>
									<li>Choose between presenter-led and self-paced live learning experiences.</li>
									<li>Use friendly competition, replays, powerups, and more to keep every student engaged in mastery.</li>
									<li>Remote friendly—no need for participants to juggle tabs. They see questions on their own device.
									</li>
								</ol>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<img src="../static/images/tab1.jpg" alt="tabImg">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabcontent" id="asynchronousLearning">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<h2>Learn anytime and anywhere</h2>
								<ol>
									<li>Set a deadline so your students can learn on their own time or create an evergreen link.</li>
									<li>Share via messaging tools, email, or your LMS. Participants join from any device.</li>
									<li>Retakes, flashcards and other tools enable independent study and promote mastery.
									</li>
								</ol>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<img src="../static/images/tab2.jpg" alt="tabImg">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabcontent" id="insightsAndReporting">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<h2>Instantly know what’s working and what isn’t</h2>
								<ol>
									<li>Instantly identify problem areas by participant, class, question, and more.</li>
									<li>All reports are saved and can be accessed at any time.
									</li>
									<li>Share and export results.
									</li>
								</ol></div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<img src="../static/images/tab3.jpg" alt="tabImg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="learn-more-wrapped">
			<div class="learn-more-title" style="text-align: center;display:block;font-size:30px;color:#fff;margin:50px auto;">
				Học nhiều hơn với BeSmart
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="learn-more-boxLeft">
							<img src="../static/images/school.png" alt="learnmoreImg">
							<h2>Trường lớp</h2>
							<p>Các khổi, các cấp & giáo viên</p>
							<button><a href="#">Tìm hiểu</a></button>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="learn-more-boxRight">
							<img src="../static/images/work.png" alt="learnmoreImg">
							<h2>Công việc</h2>
							<p>Kinh doanh phi lợi nhuận và các cấp</p>
							<button><a href="#">Tìm hiểu</a></button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="get-started-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
						<img src="../static/images/left.png" alt="img" style="float:left;">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="get-started-title">
							Sẵn sàng cho sự tham gia có ý nghĩa này chứ ?</div>
					</div>
					<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
						<img src="../static/images/right.png" alt="img" style="float:right;">
					</div>
				</div>
			</div>
		</section>
		<section id="footer-wrapped">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<h5 style="color:#fff;">Copyright 2020 Phi Anh Tu & Nguyen Tu Tung</h5>
						Follow us
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<ul>
							<li><a href="#">Blog BeSmart</a></li>
							<li><a href="#">Bài giảng</a></li>
							<li><a href="#">Trung tâm giúp đỡ</a></li>
							<li><a href="#">BeSmart cho công việc</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<ul>
							<li><a href="#">Điều khoản dịch vụ</a></li>
							<li><a href="#">Chính sách cá nhân</a></li>
							<li><a href="#">Nghề nghiệp</a></li>
							<li><a href="#">Về chúng tôi</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<h5 style="color:#fff;">Tải về máy: </h5>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!--End main code-->
	<!--Script-->
	<script src="../static/javascript/script.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script type="text/javascript">
		$('.owl-threes').owlCarousel({
			loop: true,
			nav: false,
			autoplay: true,
			responsive: {
				0: {
					items: 1
				},
				900: {
					item: 3
				}
			}
		});
	</script>
	<!--endscript-->
</body>

</html>