{% extends "base_auth.html" %}
{% block style %} <link href="../static/css/login.css" rel="stylesheet"> {% endblock %}
{% block auth %} <button><a href="/register">đăng ký</a></button> {% endblock %}
{% block login %}
    <section id="form-login-wrapped">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div id="login-wrapped" >
						<form id="form-login" class="form-login" action="/login" method="POST">
						  <h2>Đăng nhập</h2>
						  <div class="form-Control">
							<label for="username">Tên đăng nhập</label>
							<input type="text" id="username" name="username" onchange="return trim(this)" placeholder="" />
							<small>Error message</small>
						  </div>
						  <div class="form-Control">
							<label for="password">Mật khẩu</label>
							<input name="password" type="password" id="password" placeholder="" />
							<small>Error message</small>
						  </div>
						  <button type="submit">ĐĂNG NHẬP</button>
						</form>
					  </div>
					    {% with messages = get_flashed_messages() %}
							{% if messages %}
								{% for message in messages %}
								<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
								<script>
									var message = "{{ message | safe }}";
									//alert(message);
									swal("Error", "Tài khoản hoặc mật khẩu không đúng!", "error");
									</script>
								{% endfor %}
							{% endif %}
						{% endwith %}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            </div>
        </div>
	</section>
{% endblock %}
<!--Script-->
{% block script %}<script src="../static/javascript/script.js"></script>{% endblock %}