{% extends "base_auth.html" %}
{% block style %} <link href="../static/css/register.css" rel="stylesheet"> {% endblock %}
{% block auth %} <button><a href="/login">đăng nhập</a></button> {% endblock %}

{% block register %}
    <section id="form-wrapped">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div id="register-wrapped" >
						<form id="formRegister" class="form-register" action="/register" method="POST" >
						  <h2>Đăng ký</h2>
						  <div class="form-Control">
							<label for="username">Tên đăng nhập</label>
							<input type="text" id="username" name="username" onchange="return trim(this)" placeholder="" />
							<small>Error message</small>
						  </div>
						  <div class="form-Control">
							<label for="password">Mật khẩu</label>
							<input type="password" id="password" name="password" placeholder="" />
							<small>Error message</small>
						  </div>
						  <div class="form-Control">
							<label for="password2">Nhập lại mật khẩu</label>
							<input
							  type="password"
							  id="password2"
							  placeholder=""/>
							<small>Error message</small>
						  </div>
						  <div class="form-Control">
							<label for="email">Email</label>
							<input
							  name="email"
							  type="text"
							  id="email"
							  placeholder=""/>
							<small>Error message</small>
						  </div>
						  <div class="form-Control">
							<label for="sex">Gender</label>
							<input type="radio" id="sex" name="sex" value="male" style="height: 20px;width:20px;display:inline-block;"> Nam
                            <input type="radio" id="sex" name="sex" value="female" style="height: 20px;width:20px;margin-left:20px;display:inline-block;"> Nữ<br>
							<small>Error message</small>
						  </div>
						  <div class="form-Control">
							<label for="classify">Classify</label>
							<input type="radio" id="classify" name="classify" value="student" style="height: 20px;width:20px;display:inline-block;"> Học sinh
							<input type="radio" id="classify" name="classify" value="teacher" style="height: 20px;width:20px;margin-left:20px;display:inline-block;"> Giảng viên
							<small>Error message</small>
						  </div>
						  <button type="submit">ĐĂNG KÝ</button>
						</form>
					  </div>
					  {% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
								<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
								<script>
									var message = "{{ message | safe }}";
									swal("{{category}}", "{{message}}", "{{category}}");
									</script>
								{% endfor %}
							{% endif %}
						{% endwith %}
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            </div>
        </div>
	</section>
{% endblock %}
<!--Script-->
{% block script %}<script src="../static/javascript/register.js"></script>{% endblock %}
