{% extends "user.html" %}
{% block title %} Room BeSmart {% endblock %}
{% block room %}  
	   <!--Phần riêng mỗi form-->
		<div class="cd-content-wrapper">
		  <div class="text-component text-center">
            <div class="codeRoom">Div nay trả lại random code's room</div>
			<form class="box" method="post" action="">
				<div class="form-group files">
					<label>Upload Your File </label>
					<input type="file" class="form-control" multiple="">
				  </div>
			</form>
			<div class="exampleWord" style="margin-top:30px;">
				<a href="../static/images/banner.png" download>
					<img src="../static/images/word-icon.png" alt="word-icon" width="100" height="120">
				</a>
				Example format for testing
			</div>
		  </div>
		</div> <!-- kết thúc phần riêng -->
{% endblock %}