<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>document.getElementsByTagName("html")[0].className += " js";</script>
	<link rel="stylesheet" href="../static/css/grid.css">
	<link rel="stylesheet" href="../static/css/room.css">
	<link rel="stylesheet" href="../static/css/popup.css">
	<link rel="stylesheet" href="../static/css/editormd.css" />
	<link rel="stylesheet" href="../static/css/validate_create_room.css" />
	<title>Classrooms</title>

</head>

<body>
	<header>
		<div class="container">
			<div class="header-desktop hidden-xs hidden-sm">
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<div class="logo-wrapper">
							<a href="index.html" class="cd-logo"><img src="../static/images/logo1.png"
									style="height:100px; width:120px;display:block;" alt="Logo"></a>
						</div>
					</div>
					<div class="col-lg-9 col-md-9">
						<div class="dropdown">
							<button class="dropbtn">
								<a href="#0">
									<img src="../static/images/cd-avatar.svg" alt="avatar"
										style="height:24px;width:24px;border-radius:50%;">
									<span>Tài khoản</span>
								</a>
							</button>
							<div class="dropdown-content">
								<a href="#0">Tài khoản của tôi</a>
								<a href="#0">Thay đổi thông tin</a>
								<a href="/logout">Đăng xuất</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="header-mobile hidden-lg hidden-md">
				<div class="row"></div>
			</div>
		</div>
	</header>
	<section id="room-wrapped">
		<div class="container">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="room-component-wrapped">
						<div class="room-title">
							<div class="room-classname">Classname : {{room.room_name}}</div>
							<div class="room-subject">Subject : {{room.subject}}</div>
							<div class="room-teachername">Teacher : {{room.teacher.teacher_name}}</div>
							<div class="room-code">Code: {{room.room_code}}</div>
						</div>
						<div class="room-content">
							<!--<div class="create-room" style="display:inline-block;">
								<a href="/exam-form">Create Question</a>
							</div>-->
							<div class="create-room" style="display:inline-block;margin-left:20px;">
								<a href="/form-exam">Create Exam</a>
							</div>
						</div>
					</div>
					<form id="formQuestion" class="form-create-question" name="formQuestion" action="/question" method="POST" >
						<div class="form-Control">
							<label for="question" style="font-size:16px;">Question:</label>
							<div id="test-editor" style="margin-top:20px;">
								<textarea style="display:none;" id="question" name="question"></textarea>
							</div>
							<small>Error message</small>
						</div>
						<div class="form-Control">
							<label for="answer">A: </label>
							<input type="text" id="answer" name="answerA" placeholder="Enter answer" />
							<input type="radio" id="answerKey" name="key" placeholder="Correct answer" value="0"/>
							<small>Error message</small>
						</div>
						<div class="form-Control">
							<label for="answer">B: </label>
							<input type="text" id="answer" name="answerB" placeholder="Enter answer" />
							<input type="radio" id="answerKey" name="key" placeholder="" value="1" />
							<small>Error message</small>
						</div>
						<div class="form-Control">
							<label for="answer">C :</label>
							<input type="text" id="answer" name="answerC" placeholder="Enter answer" />
							<input type="radio" id="answerKey" name="key" placeholder="" value="2"/>
							<small>Error message</small>
						</div>
						<div class="form-Control">
							<label for="answer">D :</label>
							<input type="text" id="answer" name="answerD" placeholder="Enter answer" />
							<input type="radio" id="answerKey" name="key" placeholder="" value="3"/><!--AnswerA-->
							<small>Error message</small>
						</div>
						<div class="form-Control">
							<label for="level" style="font-size:16px;">Choose a level question:</label>
							<select name="level" id="level">
								<option value="1">Easy</option>
								<option value="2">Medium</option>
								<option value="3">Hard</option>
							</select>
						</div>
						<button type="submit">Create</button>
					</form>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
			</div>
	</section>

</body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="../static/javascript/editormd.min.js"></script>
<script src='../static/javascript/validate_create_question.js'></script>
<!--<script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>-->
<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editor", {
            width: "100%",
            height: "250px",
            path: "../static/lib/"
        });
    });
</script>
</html>