{% extends "user.html" %}
{% block title %} Student BeSmart {% endblock %}
{% block student %}
	    <!--Phần riêng mỗi form-->
		<div class="cd-content-wrapper">
		  <div class="text-component text-center">
				  <h2>Chào mừng {{username}}</h2>
				  <form action="/student/search" method="GET">
            <div class="searchBar">
                <input type="text" name="q" placeholder="Search rooms" style="height:40px;">
                <button type="submit" style="background:#227bb1;border:none;padding:5px 20px;color:#fff;border-radius: 3px;">Search</button>
			</div>
		</form>
            <div class="getAllRoomEnterd">
				<div class="getAllRoom">
					<div class="row">
							{% for room in rooms %}
							<div class="col-lg-3">
								<a href="/exam">
									<div class="room-components">
										<div class="room-title">
											<div class="room-classname">{{room.room_name}}</div>
											<div class="room-subject">{{room.subject}}</div>
											<div class="room-teachername">{{room.teacher.teacher_name}}</div>
										</div>
										<div class="room-content">a</div>
									</div>
								</a>
							</div>
							{% endfor %}
					</div>
				</div>
			</div>
		  </div>
		</div> <!-- kết thúc phần riêng -->
{% endblock %}