{% extends "user.html" %}
{% block title %} Student BeSmart {% endblock %}
{% block student_ul %}
<ul class="cd-side__list js-cd-side__list">
	<li class="cd-side__label"><span>Hành động</span></li>
	<li class="cd-side__btn">
		<button id="joinBtn">Tham gia</button></li>
</ul>
{% endblock %}
{% block student %}
	    <!--Phần riêng mỗi form-->
		<div class="cd-content-wrapper">
		  <div class="text-component text-center">
				  <h2>Chào mừng {{username}} tới dịch vụ của chúng tôi</h2>
            <div class="searchBar">
                <input type="text" placeholder="Search rooms">
                <button>Searching</button>
            </div>
            <div class="getAllRoomEnterd">
				<div class="getAllRoom">
					<div class="row">
						<div class="col-lg-3">
							<div class="room-components">
								<div class="room-title">
									<div class="room-classname">classname</div>
									<div class="room-subject">subject</div>
									<div class="room-teachername">teacher</div>
								</div>
								<div class="room-content">a</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="room-components">
								<div class="room-title">
									<div class="room-classname">classname</div>
									<div class="room-subject">subject</div>
									<div class="room-teachername">teacher</div>
								</div>
								<div class="room-content">a</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="room-components">
								<div class="room-title">
									<div class="room-classname">classname</div>
									<div class="room-subject">subject</div>
									<div class="room-teachername">teacher</div>
								</div>
								<div class="room-content">a</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="room-components">
								<div class="room-title">
									<div class="room-classname">classname</div>
									<div class="room-subject">subject</div>
									<div class="room-teachername">teacher</div>
								</div>
								<div class="room-content">a</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div> <!-- kết thúc phần riêng -->
{% endblock %}